body {
	margin: 0px;
	padding: 0px;
}

.navigation ul {
	padding: 5px 10px;
}

header h1 {
	font-size: 2em;
	margin: 0;
	padding: 25px;
}

nav.navigation {
	background-color: black;
	padding: 25px;
	text-align: center;

}

.navigation ul li {
	background-color: white;
	display: inline-block;
	margin: 5px 25px;
	padding: 5px 10px;
}

li a {
	text-decoration: none;
}

section {
	background-color: grey;
	text-align: center;
}

div.box {
	display: inline-block;
	width: 30%
}

div.box img {
	width: 100%;
}

div.box p {
	background-color: white;
	border: 3px solid gold;
	padding: 15px;
}

div.box p:first-letter {
	color: black;
	font-size: 2em;
}

footer {
	background-color: gold;
	padding: 50px;
	text-align: center;
}

footer li {
	background-color: white;
	display: inline-block;
	margin: 10px 25px;
	padding: 5px 10px;
}

footer li a {
	color: black;
	text-decoration: none;
}